table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

     th {
        border: 10px solid black;
        text-align: center;
        padding: 8px;
        background-color: #8899ff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color:rgb(210, 207, 207)
    }
    tr{
        border: 10px solid black;
        text-align: center;
        padding: 8px;
        background-color: #8899ff;
    }
    td{
        border: 10px solid black;
        text-align: center;
        padding: 8px;
        background-color: #8b92ba;
    }
    .bola {
        height: 95px;
  width: 95px;
  border-radius: 60%;
  z-index: 0;
  background-color: rgb(255, 0, 0);
  align-content: center;
}
.naturaleza{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(11, 219, 94);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.moves{
    display:inline-table;
    height: 95px;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:aqua;
}
.dot{
    position: absolute;
    height: 95px;
  width: 95px;
  border-radius: 60%;
  z-index: 1;
  align-content: center;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    font-size: 12px;
    padding: 12px 12px 12px 40px;
    border: 6px solid #ddddddba;
    margin-bottom: 12px;
}
h1{
    text-align: center;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}