.texto{
    font-family: 'Press Start 2P', sans-serif;
}
.integrante_foto{
    float: right;
    margin-top: -6%;
    margin-right: 5%;
}
.tipos_logos{
    float: right;
    margin-right: 5px;
    margin-top: -6%;
}
.contenido_integrante{
    margin-left: 30%;
    width: 35%;
    height: 50%;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #ddd;
}
.cuerpo_tabla{
    text-align: center;
}
.tabla_movs_usados{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}
.titulo_hilera {
    border: 10px solid rgb(129, 129, 129);
    text-align: center;
    padding: 8px;
    background-color: #000000;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}
.titulo_integrante{
    text-align: center;
}
.contenido_hilera{
    border: 10px solid black;
    width: 35%;
    height: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #ddd;
}
.Planta {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #77cc55;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Veneno {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #aa5599;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Eléctrico {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #ffcc33;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;

}

.Fuego {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #ff4422;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;

}

.Volador {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #8899ff;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;

}

.Agua {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #3399ff;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Normal {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #aaaa99;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Bicho {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #aabb22;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Roca {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #bbaa66;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Tierra {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #ddbb55;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Lucha {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #bb5544;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Hada {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #ee99ee;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Psíquico {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #ff5599;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Fantasma {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #6666bb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Siniestro {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #775544;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Acero {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #aaaabb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Hielo {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #66ccff;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}

.Dragón {
    display: inline-block;
    width: 66px;
    margin-bottom: 4px;
    background: #7766ee;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #fff;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    text-transform: uppercase;
    transition: opacity .4s;
    padding: 4px;
}